/ {
	compatible = "nxp,mk22f12", "nxp,k22f", "nxp,k2x";
	chosen {
		zephyr,console = &uart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&gpiod{
	status = "okay";
};
&usbotg{
	status = "okay";
};
&i2c1{
	status = "disabled";
};
&uart1{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart1_default >;
	pinctrl-names = "default";
};
&ftfe{
	status = "okay";
};
&gpiob{
	status = "okay";
};
&spi1{
	status = "disabled";
};
&dac1{
	status = "disabled";
};
&adc0{
	status = "okay";
};
&i2c0{
	status = "okay";
	pinctrl-0 = < &i2c0_default >;
	pinctrl-names = "default";
};
&gpioe{
	status = "okay";
};
&uart0{
	status = "disabled";
};
&uart3{
	status = "disabled";
};
&pinctrl{
	status = "okay";
};
&gpioa{
	status = "okay";
};
&uart2{
	status = "disabled";
	pinctrl-0 = < &uart2_default >;
	pinctrl-names = "default";
};
&spi0{
	status = "okay";
	pinctrl-0 = < &spi0_default >;
	pinctrl-names = "default";
};
&dac0{
	status = "okay";
};
&gpioc{
	status = "okay";
};
