/ {
	compatible = "atsame54,xpro", "atmel,same54p20a", "atmel,same54";
	chosen {
		zephyr,console = &sercom2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&tcc0{
	status = "okay";
	prescaler = < 0x8 >;
	#pwm-cells = < 0x2 >;
	pinctrl-0 = < &pwm_default >;
	pinctrl-names = "default";
};
&sercom1{
	status = "disabled";
};
&sercom6{
	status = "disabled";
};
&mdio{
	status = "okay";
	pinctrl-0 = < &mdio_default >;
	pinctrl-names = "default";
};
&adc0{
	status = "okay";
};
&sercom0{
	status = "disabled";
};
&sercom7{
	status = "okay";
	clock-frequency = < 0x61a80 >;
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &sercom7_i2c_default >;
	pinctrl-names = "default";
};
&sercom4{
	status = "okay";
	dipo = < 0x3 >;
	dopo = < 0x0 >;
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &sercom4_spi_default >;
	pinctrl-names = "default";
};
&sercom3{
	status = "disabled";
};
&sercom2{
	status = "okay";
	current-speed = < 0x1c200 >;
	rxpo = < 0x1 >;
	txpo = < 0x0 >;
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &sercom2_uart_default >;
	pinctrl-names = "default";
};
&sercom5{
	status = "disabled";
};
&gmac{
	status = "okay";
	pinctrl-0 = < &gmac_rmii >;
	pinctrl-names = "default";
	mac-eeprom = < &eeprom >;
	phy-handle = < &phy >;
};
&usb0{
	status = "okay";
	pinctrl-0 = < &usb_dc_default >;
	pinctrl-names = "default";
};
