/ {
	compatible = "actinius,icarus";
	chosen {
		zephyr,console = &uart0;
		zephyr,flash = &flash0;
		zephyr,sram = &sram0;
	};
};
&gpio0{
	status = "okay";
};
&gpio1{
	status = "okay";
};
&sram0{
	reg = < 0x20000000 0x10000 >;
};
&uart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart0_default >;
	pinctrl-1 = < &uart0_sleep >;
	pinctrl-names = "default", "sleep";
};
&pinctrl{
	compatible = "nordic,nrf-pinctrl";
	uart1_default: uart1_default {
		group1 {
			psels = < 0x18 >, < 0x10017 >;
		};
	};
	uart1_sleep: uart1_sleep {
		group1 {
			psels = < 0x18 >, < 0x10017 >;
			low-power-enable;
		};
	};
	uart2_default: uart2_default {
		group1 {
			psels = < 0x4 >, < 0x10005 >;
		};
	};
	uart2_sleep: uart2_sleep {
		group1 {
			psels = < 0x4 >, < 0x10005 >;
			low-power-enable;
		};
	};
	i2c2_default: i2c2_default {
		group1 {
			psels = < 0xc001a >, < 0xb001b >;
		};
	};
	i2c2_sleep: i2c2_sleep {
		group1 {
			psels = < 0xc001a >, < 0xb001b >;
			low-power-enable;
		};
	};
	spi3_default: spi3_default {
		group1 {
			psels = < 0x40014 >, < 0x50015 >, < 0x60016 >;
		};
	};
	spi3_sleep: spi3_sleep {
		group1 {
			psels = < 0x40014 >, < 0x50015 >, < 0x60016 >;
			low-power-enable;
		};
	};
	pwm0_default: pwm0_default {
		group1 {
			psels = < 0x16000a >, < 0x17000b >, < 0x18000c >;
			nordic,invert;
		};
	};
	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = < 0x16000a >, < 0x17000b >, < 0x18000c >;
			low-power-enable;
		};
	};
	uart0_default: uart0_default {
		group1 {
			psels = < 0x9 >, < 0x10006 >, < 0x20007 >, < 0x30019 >;
		};
	};
	uart0_sleep: uart0_sleep {
		group1 {
			psels = < 0x9 >, < 0x10006 >, < 0x20007 >, < 0x30019 >;
			low-power-enable;
		};
	};
};