/ {
	compatible = "atmel,atsamr34xpro", "atmel,samr34j18b", "atmel,samr34";
	chosen {
		zephyr,console = &sercom0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&sercom4{
	status = "okay";
};
&sercom1{
	status = "okay";
	clock-frequency = < 0x61a80 >;
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &sercom1_default >;
	pinctrl-names = "default";
};
&usb0{
	status = "okay";
};
&adc{
	status = "okay";
};
&sercom5{
	status = "okay";
	dipo = < 0x0 >;
	dopo = < 0x1 >;
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &sercom5_default >;
	pinctrl-names = "default";
};
&tcc0{
	status = "okay";
	prescaler = < 0x4 >;
	#pwm-cells = < 0x2 >;
	pinctrl-0 = < &tcc0_default >;
	pinctrl-names = "default";
};
&sercom2{
	status = "disabled";
};
&sercom3{
	status = "disabled";
};
&sercom0{
	status = "okay";
	current-speed = < 0x1c200 >;
	rxpo = < 0x1 >;
	txpo = < 0x0 >;
	pinctrl-0 = < &sercom0_default >;
	pinctrl-names = "default";
};
