/ {
	compatible = "nxp,lpc55xxx", "nxp,lpc";
	chosen {
		zephyr,sram = &sram3;
		zephyr,flash = &flash0;
		zephyr,console = &flexcomm0;
	};
};
&gpio0{
	status = "okay";
};
&gpio1{
	status = "okay";
};
&sram3{
	reg = < 0x20030000 0x14000 >;
};
&sc_timer{
	pinctrl-0 = < &pinmux_sctimer_default >;
	pinctrl-names = "default";
};
&hs_lspi{
	pinctrl-0 = < &pinmux_hs_lspi_default >;
	pinctrl-names = "default";
};
&adc0{
	status = "okay";
};
&flexcomm0{
	compatible = "nxp,lpc-usart";
	status = "okay";
	current-speed = < 0x1c200 >;
	dmas = < &dma0 0x4 >, < &dma0 0x5 >;
	dma-names = "rx", "tx";
	pinctrl-0 = < &pinmux_flexcomm0_usart >;
	pinctrl-names = "default";
};
&usbhs{
	status = "okay";
};
