/ {
	compatible = "xlnx,zynqmp-r5";
	chosen {
		zephyr,console = &uart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&gem0{
	status = "disabled";
};
&uart1{
	status = "okay";
	current-speed = < 0x1c200 >;
	clock-frequency = < 0x5f5e09d >;
};
&gem2{
	status = "disabled";
};
&psgpio_bank5{
	status = "okay";
};
&gem3{
	status = "disabled";
};
&uart0{
	status = "disabled";
};
&psgpio_bank0{
	status = "okay";
};
&psgpio_bank1{
	status = "okay";
};
&psgpio_bank2{
	status = "okay";
};
&gem1{
	status = "disabled";
};
&psgpio_bank4{
	status = "okay";
};
&psgpio_bank3{
	status = "okay";
};
