/ {
	compatible = "cypress,cy8cproto_062_4343w", "cypress,PSoC6";
	chosen {
		zephyr,console = &scb5;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&gpio_prt3{
	status = "okay";
};
&gpio_prt13{
	status = "okay";
};
&gpio_prt0{
	status = "okay";
};
&gpio_prt10{
	status = "disabled";
};
&scb5{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &p5_1_scb5_uart_tx &p5_0_scb5_uart_rx >;
	pinctrl-names = "default";
};
&gpio_prt8{
	status = "disabled";
};
&gpio_prt11{
	status = "disabled";
};
&gpio_prt14{
	status = "disabled";
};
&gpio_prt7{
	status = "disabled";
};
&adc0{
	status = "disabled";
};
&gpio_prt5{
	status = "okay";
};
&gpio_prt9{
	status = "okay";
};
&gpio_prt4{
	status = "disabled";
};
&gpio_prt6{
	status = "okay";
};
&gpio_prt1{
	status = "disabled";
};
&gpio_prt2{
	status = "disabled";
};
&gpio_prt12{
	status = "okay";
};
