/ {
	compatible = "nxp,mimxrt595";
	chosen {
		zephyr,console = &flexcomm0;
		zephyr,sram = &sram0;
	};
};
&gpio4{
	status = "okay";
	int-source = "int-b";
	interrupts = < 0x3 0x0 >;
};
&sc_timer{
	status = "okay";
	pinctrl-0 = < &pinmux_sctimer_default >;
	pinctrl-names = "default";
};
&i3c0{
	status = "okay";
	pinctrl-0 = < &pinmux_i3c >;
	pinctrl-names = "default";
};
&flexspi{
	status = "okay";
	pinctrl-0 = < &pinmux_flexspi >;
	pinctrl-1 = < &pinmux_flexspi_sleep >;
	pinctrl-names = "default", "sleep";
};
&flexspi2{
	status = "okay";
	pinctrl-0 = < &pinmux_flexspi2 >;
	pinctrl-names = "default";
	rx-clock-source = < 0x3 >;
	ahb-prefetch;
	ahb-bufferable;
	ahb-cacheable;
	ahb-read-addr-opt;
};
&usbhs{
	status = "okay";
};
&gpio0{
	status = "okay";
};
&gpio5{
	status = "okay";
};
&hs_lspi1{
	status = "okay";
	pinctrl-0 = < &pinmux_flexcomm16_spi >;
	pinctrl-names = "default";
	dmas = < &dma0 0x1c >, < &dma0 0x1d >;
	dma-names = "rx", "tx";
};
&gpio3{
	status = "okay";
	int-source = "int-a";
	interrupts = < 0x2 0x0 >;
};
&gpio6{
	status = "okay";
};
&gpio2{
	status = "okay";
};
&pmic_i2c{
	status = "okay";
	clock-frequency = < 0x61a80 >;
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &pinmux_pmic_i2c >;
	pinctrl-names = "default";
};
&gpio1{
	status = "okay";
};
&flexcomm0{
	compatible = "nxp,lpc-usart";
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &pinmux_flexcomm0_usart >;
	pinctrl-names = "default";
	dmas = < &dma0 0x0 >, < &dma0 0x1 >;
	dma-names = "rx", "tx";
};
