/ {
	compatible = "nxp,mk82f25615", "nxp,k82f", "nxp,k8x";
	chosen {
		zephyr,console = &lpuart4;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&spi1{
	status = "okay";
	pinctrl-0 = < &spi1_default >;
	pinctrl-names = "default";
};
&spi2{
	status = "disabled";
};
&lpuart0{
	status = "disabled";
	pinctrl-0 = < &lpuart0_default >;
	pinctrl-names = "default";
};
&gpioa{
	status = "okay";
};
&gpioc{
	status = "okay";
};
&lpuart3{
	status = "disabled";
};
&usbotg{
	status = "okay";
};
&pinctrl{
	status = "okay";
};
&lpuart4{
	status = "okay";
	pinctrl-0 = < &lpuart4_default >;
	pinctrl-names = "default";
	current-speed = < 0x1c200 >;
};
&adc0{
	status = "okay";
	pinctrl-0 = < &adc0_default >;
	pinctrl-names = "default";
};
&lpuart1{
	status = "disabled";
};
&lpuart2{
	status = "disabled";
};
&gpioe{
	status = "okay";
};
&i2c1{
	status = "disabled";
};
&gpiod{
	status = "okay";
};
&spi0{
	status = "okay";
	pinctrl-0 = < &spi0_default >;
	pinctrl-names = "default";
};
&gpiob{
	status = "okay";
};
&i2c0{
	status = "okay";
	pinctrl-0 = < &i2c0_default >;
	pinctrl-names = "default";
};
&ftfa{
	status = "okay";
};
&i2c3{
	status = "okay";
	pinctrl-0 = < &i2c3_default >;
	pinctrl-names = "default";
};
&i2c2{
	status = "disabled";
};
