/ {
	compatible = "renesas,r8a77961";
	chosen {
		zephyr,console = &scif2;
	};
};
&scif2{
	status = "okay";
	pinctrl-0 = < &scif2_data_a_tx_default &scif2_data_a_rx_default >;
	pinctrl-names = "default";
};
&pfc{
	compatible = "renesas,rcar-pfc";
	reg = < 0x0 0xe6060000 0x0 0x50c >;
	scif2_data_a_tx_default: scif2_data_a_tx_default {
		pin = < 0xaa 0x3400 >;
	};
	scif2_data_a_rx_default: scif2_data_a_rx_default {
		pin = < 0xab 0x3440 >;
	};
};