/ {
	compatible = "openisa,rv32m1";
	chosen {
		zephyr,console = &lpuart0;
		zephyr,sram = &m4_dtcm;
		zephyr,flash = &m4_flash;
	};
};
&tpm2{
	status = "okay";
	pinctrl-0 = < &tpm2_default >;
	pinctrl-names = "default";
};
&tpm1{
	status = "disabled";
};
&lpuart2{
	status = "disabled";
};
&tpm0{
	status = "disabled";
};
&lpuart3{
	status = "disabled";
};
&lpspi0{
	status = "okay";
	pinctrl-0 = < &lpspi0_default >;
	pinctrl-names = "default";
};
&pinctrl{
	status = "okay";
};
&lpi2c2{
	status = "disabled";
};
&lpi2c3{
	status = "okay";
	pinctrl-0 = < &lpi2c3_default >;
	pinctrl-names = "default";
};
&lpuart1{
	status = "disabled";
	pinctrl-0 = < &lpuart1_default >;
	pinctrl-names = "default";
};
&lpspi3{
	status = "disabled";
};
&lpspi2{
	status = "disabled";
};
&lpspi1{
	status = "okay";
	cs-gpios = < &gpiob 0x16 0x1 >;
	pinctrl-0 = < &lpspi1_default >;
	pinctrl-names = "default";
};
&lpi2c1{
	status = "disabled";
};
&tpm3{
	status = "disabled";
};
&lpuart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &lpuart0_default >;
	pinctrl-names = "default";
};
&lpi2c0{
	status = "okay";
	pinctrl-0 = < &lpi2c0_default >;
	pinctrl-names = "default";
};
