/ {
	compatible = "intel,alder-lake-rvp";
	chosen {
		zephyr,console = &uart0_legacy;
		zephyr,sram = &dram0;
	};
};
&dram0{
	reg = < 0x0 0x80000000 >;
};
&uart1{
	status = "okay";
};
&uart0{
	status = "okay";
};
