/ {
	compatible = "intel,alder-lake-crb";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &dram0;
	};
};
&uart2{
	status = "disabled";
};
&gpio_1_h{
	status = "okay";
};
&gpio_0_b{
	status = "okay";
};
&gpio_1_i{
	status = "okay";
};
&i2c2{
	status = "disabled";
};
&spi0{
	status = "okay";
};
&i2c1{
	status = "disabled";
};
&uart1{
	status = "okay";
};
&spi1{
	status = "disabled";
};
&gpio_4_c{
	status = "okay";
};
&gpio_0_a{
	status = "okay";
};
&gpio_5_r{
	status = "okay";
};
&gpio_4_f{
	status = "okay";
};
&gpio_1_d{
	status = "okay";
};
&i2c3{
	status = "disabled";
};
&uart0{
	status = "okay";
};
&gpio_4_e{
	status = "okay";
};
&i2c5{
	status = "disabled";
};
&uart0_legacy{
	status = "okay";
};
&i2c4{
	status = "disabled";
};
&spi2{
	status = "disabled";
};
&gpio_1_s{
	status = "okay";
};
&i2c0{
	status = "okay";
};
