/ {
	compatible = "espressif,esp32_net";
	chosen {
		zephyr,sram = &sram0;
	};
};
&adc0{
	status = "disabled";
};
&i2c1{
	status = "disabled";
};
&spi2{
	status = "disabled";
};
&dac{
	status = "disabled";
};
&uart2{
	status = "disabled";
};
&spi3{
	status = "disabled";
};
&uart0{
	status = "disabled";
};
&eth{
	status = "disabled";
};
&mdio{
	status = "disabled";
};
&adc1{
	status = "disabled";
};
&pinctrl{
	status = "okay";
};
&uart1{
	status = "disabled";
};
&i2c0{
	status = "disabled";
};
&twai{
	status = "disabled";
};
&pinctrl{
	compatible = "espressif,esp32-pinctrl";
	status = "okay";
};