/ {
	compatible = "nordic,nrf54h20dk_nrf54h20-cpuapp";
	chosen {
		zephyr,console = &uart136;
		zephyr,flash = &mram1x;
	};
};
&adc{
	status = "okay";
	memory-regions = < &cpuapp_dma_region >;
};
&can120{
	status = "okay";
	pinctrl-0 = < &can120_default >;
	pinctrl-names = "default";
};
&exmif{
	status = "okay";
	cs-gpios = < &gpio6 0x3 0x1 >;
	pinctrl-0 = < &exmif_default >;
	pinctrl-names = "default";
};
&gpio0{
	status = "okay";
};
&gpio6{
	status = "okay";
};
&gpio9{
	status = "okay";
};
&pwm130{
	status = "okay";
	pinctrl-0 = < &pwm130_default >;
	pinctrl-1 = < &pwm130_sleep >;
	pinctrl-names = "default", "sleep";
	memory-regions = < &cpuapp_dma_region >;
};
&uart135{
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart135_default >;
	pinctrl-1 = < &uart135_sleep >;
	pinctrl-names = "default", "sleep";
};
&uart136{
	status = "okay";
	memory-regions = < &cpuapp_dma_region >;
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart136_default >;
	pinctrl-1 = < &uart136_sleep >;
	pinctrl-names = "default", "sleep";
	hw-flow-control;
};
&usbhs{
	status = "okay";
};
&pinctrl{
	compatible = "nordic,nrf-pinctrl";
	uart135_default: uart135_default {
		group1 {
			psels = < 0x2b >, < 0x40029 >;
		};
		group2 {
			bias-pull-up;
			psels = < 0x2002a >, < 0x60027 >;
		};
	};
	uart135_sleep: uart135_sleep {
		group1 {
			low-power-enable;
			psels = < 0x2b >, < 0x2002a >, < 0x40029 >, < 0x60027 >;
		};
	};
	uart136_default: uart136_default {
		group1 {
			psels = < 0x46 >, < 0x40047 >;
		};
		group2 {
			bias-pull-up;
			psels = < 0x20044 >, < 0x60045 >;
		};
	};
	uart136_sleep: uart136_sleep {
		group1 {
			low-power-enable;
			psels = < 0x46 >, < 0x20044 >, < 0x40047 >, < 0x60045 >;
		};
	};
	exmif_default: exmif_default {
		group1 {
			psels = < 0x4600c0 >, < 0x4800c7 >, < 0x4a00c5 >;
			nordic,drive-mode = < 0x3 >;
		};
	};
	can120_default: can120_default {
		group1 {
			psels = < 0x5e0124 >, < 0x5c0125 >;
		};
	};
	pwm130_default: pwm130_default {
		group1 {
			psels = < 0x2c0122 >;
		};
	};
	pwm130_sleep: pwm130_sleep {
		group1 {
			psels = < 0x2c0122 >;
			low-power-enable;
		};
	};
};