/ {
	compatible = "silabs,efr32_radio_brd4104a", "silabs,efr32bg13p";
	chosen {
		zephyr,console = &leuart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&gpiof{
	status = "okay";
};
&usart1{
	compatible = "silabs,gecko-spi-usart";
	status = "okay";
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	location-rx = < 0xb 0x2 0x7 >;
	location-tx = < 0xb 0x2 0x6 >;
	location-clk = < 0xb 0x2 0x8 >;
	cs-gpios = < &gpioa 0x4 0x1 >;
};
&gpiob{
	status = "okay";
};
&gpioc{
	status = "okay";
};
&gpiod{
	status = "okay";
};
&usart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	location-rx = < 0x0 0x0 0x1 >;
	location-tx = < 0x0 0x0 0x0 >;
};
&gpioa{
	status = "okay";
};
&leuart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	location-rx = < 0x0 0x0 0x1 >;
	location-tx = < 0x0 0x0 0x0 >;
};
&pinctrl{
	compatible = "silabs,gecko-pinctrl";
};