/dts-v1/;

/ {
	#address-cells = < 0x1 >;
	#size-cells = < 0x1 >;
	chosen {
	};
	aliases {
	};
	soc {
		#address-cells = < 0x1 >;
		#size-cells = < 0x1 >;
		compatible = "simple-bus";
		ranges;
	};
	cpus {
		#address-cells = < 0x1 >;
		#size-cells = < 0x0 >;
		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = < 0x0 >;
		};
		cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = < 0x100 >;
		};
	};
	arch_timer: timer {
		compatible = "arm,armv8-timer";
		interrupts = < 0x1 0xd 0x2 0xa0 >, < 0x1 0xe 0x2 0xa0 >, < 0x1 0xb 0x2 0xa0 >, < 0x1 0xa 0x2 0xa0 >;
		interrupt-parent = < &gic >;
	};
	gic: interrupt-controller@48000000 {
		compatible = "arm,gic-v3", "arm,gic";
		reg = < 0x48000000 0x10000 >, < 0x48040000 0xc0000 >;
		interrupt-controller;
		#interrupt-cells = < 0x4 >;
		status = "okay";
		phandle = < 0x1 >;
	};
	iomuxc: iomuxc@443c0000 {
		compatible = "nxp,imx-iomuxc";
		reg = < 0x443c0000 0x10000 >;
		status = "okay";
		pinctrl: pinctrl {
			status = "okay";
			compatible = "nxp,imx93-pinctrl";
		};
	};
	ana_pll: ana_pll@44480000 {
		compatible = "nxp,imx-ana";
		reg = < 0x44480000 0x10000 >;
	};
	ccm: ccm@44450000 {
		compatible = "nxp,imx-ccm-rev2";
		reg = < 0x44450000 0x10000 >;
		#clock-cells = < 0x3 >;
		phandle = < 0x2 >;
	};
	lpuart1: serial@44380000 {
		compatible = "nxp,imx-lpuart", "nxp,kinetis-lpuart";
		reg = < 0x44380000 0x10000 >;
		interrupts = < 0x0 0x13 0x2 0xa0 >;
		interrupt-names = "irq_0";
		interrupt-parent = < &gic >;
		clocks = < &ccm 0x300 0x6c 0x18 >;
		status = "disabled";
	};
	lpuart2: serial@44390000 {
		compatible = "nxp,imx-lpuart", "nxp,kinetis-lpuart";
		reg = < 0x44390000 0x10000 >;
		interrupts = < 0x0 0x14 0x2 0xa0 >;
		interrupt-names = "irq_0";
		interrupt-parent = < &gic >;
		clocks = < &ccm 0x301 0x6c 0x18 >;
		status = "disabled";
	};
};