/ {
	compatible = "arduino,due", "atmel,sam3x8e", "atmel,sam3x";
	chosen {
		zephyr,console = &uart;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&twi0{
	status = "okay";
	pinctrl-0 = < &twi0_default >;
	pinctrl-names = "default";
};
&uart{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart_default >;
	pinctrl-names = "default";
};
&eefc{
	status = "disabled";
};
&usart1{
	status = "disabled";
};
&usart2{
	status = "disabled";
};
&usart3{
	status = "disabled";
};
&twi1{
	status = "okay";
	pinctrl-0 = < &twi1_default >;
	pinctrl-names = "default";
};
&pwm0{
	status = "okay";
	pinctrl-0 = < &pwm0_default >;
	pinctrl-names = "default";
};
&usart0{
	status = "disabled";
};
