/ {
	compatible = "litex,vexriscv";
	chosen {
		zephyr,console = &uart0;
	};
};
&gpio_out{
	status = "okay";
};
&eth0{
	status = "okay";
};
&uart0{
	status = "okay";
	current-speed = < 0x1c200 >;
};
&spi0{
	status = "okay";
};
&pwm0{
	status = "okay";
};
&i2c0{
	status = "okay";
};
&gpio_in{
	status = "okay";
};
