/ {
	compatible = "up_board,up_squared";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &dram0;
	};
};
&gpio_n_064_077{
	status = "okay";
};
&gpio_sw_000_031{
	status = "okay";
};
&uart2{
	status = "okay";
};
&gpio_nw_064_076{
	status = "okay";
};
&uart3{
	status = "okay";
};
&i2c2{
	status = "okay";
};
&i2c1{
	status = "okay";
};
&uart1{
	status = "okay";
};
&gpio_n_032_063{
	status = "okay";
};
&gpio_nw_000_031{
	status = "okay";
};
&gpio_n_000_031{
	status = "okay";
};
&gpio_w_032_046{
	status = "okay";
};
&i2c3{
	status = "okay";
};
&gpio_w_000_031{
	status = "okay";
};
&uart0{
	status = "okay";
};
&gpio_sw_032_042{
	status = "okay";
};
&i2c5{
	status = "okay";
};
&i2c4{
	status = "okay";
};
&gpio_nw_032_063{
	status = "okay";
};
&i2c6{
	status = "okay";
};
&i2c7{
	status = "okay";
};
&i2c0{
	status = "okay";
};
