/ {
	compatible = "nxp,s32z270";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &sram1;
	};
};
&enetc_vsi6{
	status = "disabled";
};
&can0{
	status = "okay";
	pinctrl-0 = < &can0_default >;
	pinctrl-names = "default";
	bus-speed = < 0x1e848 >;
	sample-point = < 0x36b >;
	bus-speed-data = < 0xf4240 >;
	sample-point-data = < 0x36b >;
};
&gpion{
	status = "disabled";
};
&can1{
	status = "disabled";
	pinctrl-0 = < &can1_default >;
	pinctrl-names = "default";
	bus-speed = < 0x1e848 >;
	sample-point = < 0x36b >;
	bus-speed-data = < 0xf4240 >;
	sample-point-data = < 0x36b >;
};
&gpiod{
	status = "disabled";
};
&gpiom{
	status = "disabled";
};
&uart5{
	status = "disabled";
};
&uart4{
	status = "disabled";
};
&enetc_vsi5{
	status = "disabled";
};
&spi0{
	status = "disabled";
};
&gpiol{
	status = "disabled";
};
&spi5{
	status = "disabled";
};
&gpioa{
	status = "disabled";
};
&spi9{
	status = "disabled";
};
&uart11{
	status = "disabled";
};
&spi3{
	status = "disabled";
};
&gpiob{
	status = "disabled";
};
&uart8{
	status = "disabled";
};
&enetc_vsi2{
	status = "disabled";
};
&uart10{
	status = "disabled";
};
&enetc_vsi1{
	status = "disabled";
};
&gpioj{
	status = "disabled";
};
&enetc_vsi3{
	status = "disabled";
};
&pinctrl{
	status = "okay";
};
&gpioc{
	status = "disabled";
};
&uart12{
	status = "disabled";
};
&spi1{
	status = "disabled";
};
&uart0{
	status = "okay";
	pinctrl-0 = < &uart0_default >;
	pinctrl-names = "default";
};
&spi6{
	status = "disabled";
};
&gpiok{
	status = "disabled";
};
&uart6{
	status = "disabled";
};
&enetc_psi0{
	status = "okay";
	local-mac-address = [ 00 00 00 01 02 00 ];
	pinctrl-0 = < &eth0_default >;
	pinctrl-names = "default";
	clock-frequency = < 0x11e1a300 >;
	phy-handle = < &phy0 >;
	mboxes = < &mru4 0x0 >;
	mbox-names = "rx";
};
&uart3{
	status = "disabled";
};
&gpiof{
	status = "disabled";
};
&gpioo{
	status = "disabled";
};
&spi2{
	status = "disabled";
};
&spi4{
	status = "disabled";
};
&uart2{
	status = "disabled";
};
&gpiog{
	status = "disabled";
};
&spi8{
	status = "disabled";
};
&emdio{
	status = "okay";
	pinctrl-0 = < &emdio_default >;
	pinctrl-names = "default";
};
&enetc_vsi4{
	status = "disabled";
};
&uart7{
	status = "disabled";
};
&gpioe{
	status = "disabled";
};
&spi7{
	status = "disabled";
};
&gpioh{
	status = "disabled";
};
&gpioi{
	status = "disabled";
};
&enetc_vsi7{
	status = "disabled";
};
&uart1{
	status = "disabled";
};
&uart9{
	status = "disabled";
};
