/ {
	compatible = "andestech,adp_xc7k_ae350";
	chosen {
		zephyr,console = &uart1;
		zephyr,sram = &dram;
	};
};
&uart1{
	status = "okay";
	clock-frequency = < 0x12c0000 >;
	current-speed = < 0x1c200 >;
};
&uart0{
	status = "disabled";
};
&i2c0{
	status = "okay";
};
&spi1{
	status = "okay";
	cs-gpios = < &gpio0 0x7 0x1 >;
};
&mmc0{
	status = "disabled";
};
&gpio0{
	status = "okay";
};
&eth0{
	status = "disabled";
};
&spi0{
	status = "okay";
};
