/ {
	compatible = "ebyte,e73-tbb-nrf52832";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&spi2{
	status = "disabled";
};
&pdm0{
	status = "disabled";
};
&spi1{
	status = "disabled";
};
&i2c0{
	status = "disabled";
};
&qdec{
	status = "disabled";
};
&radio{
	status = "okay";
};
&spi0{
	status = "disabled";
};
&i2c1{
	status = "disabled";
};
&pwm2{
	status = "disabled";
};
&nfct{
	status = "okay";
};
&gpio0{
	status = "okay";
};
&pwm1{
	status = "disabled";
};
&pwm0{
	status = "okay";
	pinctrl-0 = < &pwm0_default >;
	pinctrl-1 = < &pwm0_sleep >;
	pinctrl-names = "default", "sleep";
};
&adc{
	status = "okay";
};
&uart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart0_default >;
	pinctrl-1 = < &uart0_sleep >;
	pinctrl-names = "default", "sleep";
};
&i2s0{
	status = "disabled";
};
&pinctrl{
	compatible = "nordic,nrf-pinctrl";
	uart0_default: uart0_default {
		group1 {
			psels = < 0x6 >, < 0x10008 >, < 0x20005 >, < 0x30007 >;
		};
	};
	uart0_sleep: uart0_sleep {
		group1 {
			psels = < 0x6 >, < 0x10008 >, < 0x20005 >, < 0x30007 >;
			low-power-enable;
		};
	};
	pwm0_default: pwm0_default {
		group1 {
			psels = < 0x160011 >;
			nordic,invert;
		};
	};
	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = < 0x160011 >;
			low-power-enable;
		};
	};
};