/ {
	compatible = "ruuvi,ruuvitag";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&gpio0{
	status = "okay";
};
&spi0{
	status = "okay";
	cs-gpios = < &gpio0 0x3 0x1 >, < &gpio0 0x8 0x1 >;
	pinctrl-0 = < &spi0_default >;
	pinctrl-1 = < &spi0_sleep >;
	pinctrl-names = "default", "sleep";
};
&adc{
	status = "okay";
};
&uart0{
	compatible = "nordic,nrf-uart";
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart0_default >;
	pinctrl-1 = < &uart0_sleep >;
	pinctrl-names = "default", "sleep";
};
&spi1{
	status = "okay";
	pinctrl-0 = < &spi1_default >;
	pinctrl-1 = < &spi1_sleep >;
	pinctrl-names = "default", "sleep";
};
&i2c0{
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = < &i2c0_default >;
	pinctrl-1 = < &i2c0_sleep >;
	pinctrl-names = "default", "sleep";
};
&pwm0{
	status = "okay";
	pinctrl-0 = < &pwm0_default >;
	pinctrl-1 = < &pwm0_sleep >;
	pinctrl-names = "default", "sleep";
};
&i2c1{
	compatible = "nordic,nrf-twi";
	pinctrl-0 = < &i2c1_default >;
	pinctrl-1 = < &i2c1_sleep >;
	pinctrl-names = "default", "sleep";
};
&spi2{
	status = "okay";
	pinctrl-0 = < &spi2_default >;
	pinctrl-1 = < &spi2_sleep >;
	pinctrl-names = "default", "sleep";
	cs-gpios = < &gpio0 0x1a 0x1 >;
};
&pinctrl{
	compatible = "nordic,nrf-pinctrl";
	uart0_default: uart0_default {
		group1 {
			psels = < 0x5 >, < 0x10004 >, < 0x3001f >, < 0x2001e >;
		};
	};
	uart0_sleep: uart0_sleep {
		group1 {
			psels = < 0x5 >, < 0x10004 >, < 0x3001f >, < 0x2001e >;
			low-power-enable;
		};
	};
	spi0_default: spi0_default {
		group1 {
			psels = < 0x4001d >, < 0x50019 >, < 0x6001c >;
		};
	};
	spi0_sleep: spi0_sleep {
		group1 {
			psels = < 0x4001d >, < 0x50019 >, < 0x6001c >;
			low-power-enable;
		};
	};
};