/ {
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&spi0{
	status = "okay";
	pinctrl-0 = < &spi0_default >;
	pinctrl-names = "default";
	clock-frequency = < 0x7a1200 >;
};
&usbd{
	status = "okay";
};
&uart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart0_default >;
	pinctrl-names = "default";
};
&flash0{
	reg = < 0x10000000 0x800000 >;
};
&i2c1{
	status = "okay";
	pinctrl-0 = < &i2c1_default >;
	pinctrl-names = "default";
	clock-frequency = < 0x61a80 >;
};
&adc{
	status = "okay";
	pinctrl-0 = < &adc_default >;
	pinctrl-names = "default";
};
&gpio0{
	status = "okay";
};
&i2c0{
	status = "okay";
	clock-frequency = < 0x186a0 >;
	pinctrl-0 = < &i2c0_default >;
	pinctrl-names = "default";
};
&pwm{
	pinctrl-0 = < &pwm_ch4b_default >;
	pinctrl-names = "default";
	divider-int-0 = < 0xff >;
};
&pinctrl{
	compatible = "raspberrypi,pico-pinctrl";
	uart0_default: uart0_default {
		group1 {
			pinmux = < 0x2 >;
		};
		group2 {
			pinmux = < 0x12 >;
			input-enable;
		};
	};
	i2c1_default: i2c1_default {
		group1 {
			pinmux = < 0x23 >;
			input-enable;
		};
		group2 {
			pinmux = < 0x33 >;
			input-enable;
		};
	};
	spi0_default: spi0_default {
		group1 {
			pinmux = < 0x131 >;
		};
		group2 {
			pinmux = < 0x141 >;
			input-enable;
		};
		group3 {
			pinmux = < 0x121 >;
		};
	};
	adc_default: adc_default {
		group1 {
			pinmux = < 0x1af >, < 0x1bf >, < 0x1cf >, < 0x1df >;
			input-enable;
		};
	};
};