/ {
	compatible = "renesas,r7fa4m1aB3cfm";
	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&ioport1{
	status = "okay";
};
&hoco{
	clock-frequency = < 0x2dc6c00 >;
};
&fcu{
	status = "okay";
};
