/ {
	compatible = "microchip,mpfs-icicle-kit", "microchip,mpfs";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &sram1;
	};
};
&uart3{
	status = "disabled";
};
&i2c0{
	status = "okay";
};
&gpio1{
	status = "disabled";
};
&qspi0{
	status = "okay";
};
&uart2{
	status = "disabled";
};
&gpio2{
	status = "okay";
};
&uart4{
	status = "disabled";
};
&i2c1{
	status = "okay";
};
&uart0{
	status = "okay";
};
&gpio0{
	status = "disabled";
};
&uart1{
	status = "disabled";
};
