/ {
	compatible = "renesas,h3-salvatorx-cr7";
	chosen {
		zephyr,console = &scif1;
		zephyr,sram = &sram0;
	};
};
&can0{
	status = "okay";
	pinctrl-0 = < &can0_data_a_tx_default &can0_data_a_rx_default >;
	pinctrl-names = "default";
	bus-speed = < 0x1e848 >;
};
&gpio6{
	status = "okay";
};
&scif1{
	status = "okay";
	pinctrl-0 = < &scif1_data_a_tx_default &scif1_data_a_rx_default >;
	pinctrl-names = "default";
};
&i2c2{
	status = "okay";
};
&i2c4{
	status = "okay";
};
&pwm0{
	pinctrl-0 = < &pwm0_default >;
	pinctrl-names = "default";
};
&scif2{
	reg = < 0x0 0xe6e88000 0x0 0x64 >;
	interrupt-names = "irq_0";
	status = "okay";
	pinctrl-0 = < &scif2_data_a_tx_default &scif2_data_a_rx_default >;
	pinctrl-names = "default";
};
&pfc{
	reg = < 0x0 0xe6060000 0x0 0x50c >;
};
&pfc{
	compatible = "renesas,rcar-pfc";
	reg = < 0xe6060000 0x50c >;
	can0_data_a_tx_default: can0_data_a_tx_default {
		pin = < 0x37 0x1188 >;
	};
	can0_data_a_rx_default: can0_data_a_rx_default {
		pin = < 0x38 0x11c8 >;
	};
	scif1_data_a_tx_default: scif1_data_a_tx_default {
		pin = < 0xa6 0x3100 >;
	};
	scif1_data_a_rx_default: scif1_data_a_rx_default {
		pin = < 0xa5 0x30c0 >;
	};
	scif2_data_a_tx_default: scif2_data_a_tx_default {
		pin = < 0xaa 0x3400 >;
	};
	scif2_data_a_rx_default: scif2_data_a_rx_default {
		pin = < 0xab 0x3440 >;
	};
};