/ {
	compatible = "intel,elkhart_lake_crb";
	chosen {
		zephyr,console = &uart2;
		zephyr,sram = &dram0;
	};
};
&gpio_1_v{
	status = "okay";
};
&uart0{
	status = "okay";
};
&gpio_3_a{
	status = "okay";
};
&i2c0{
	status = "okay";
};
&uart2_fixed{
	status = "disabled";
};
&i2c_pse_0{
	status = "okay";
};
&i2c_pse_1{
	status = "okay";
};
&gpio_1_vG{
	status = "okay";
};
&gpio_0_t{
	status = "okay";
};
&gpio_3_s{
	status = "okay";
};
&uart_pse_3{
	status = "disabled";
};
&i2c3{
	status = "okay";
};
&gpio_4_e{
	status = "okay";
};
&uart_pse_0{
	status = "disabled";
};
&uart2{
	status = "okay";
};
&i2c5{
	status = "okay";
};
&i2c_pse_2{
	status = "okay";
};
&gpio_1_h{
	status = "okay";
};
&i2c_pse_6{
	status = "okay";
};
&i2c6{
	status = "okay";
};
&i2c_pse_3{
	status = "okay";
};
&i2c7{
	status = "okay";
};
&uart_pse_4{
	status = "disabled";
};
&uart_pse_1{
	status = "disabled";
};
&gpio_3_vG{
	status = "okay";
};
&uart1{
	status = "okay";
};
&gpio_1_u{
	status = "okay";
};
&i2c2{
	status = "okay";
};
&gpio_4_f{
	status = "okay";
};
&i2c_pse_4{
	status = "okay";
};
&uart1_fixed{
	status = "disabled";
};
&gpio_1_d{
	status = "okay";
};
&uart_pse_2{
	status = "disabled";
};
&gpio_0_b{
	status = "okay";
};
&i2c1{
	status = "okay";
};
&uart_pse_5{
	status = "disabled";
};
&i2c_pse_5{
	status = "okay";
};
&gpio_0_g{
	status = "okay";
};
&gpio_5_r{
	status = "okay";
};
&gpio_4_c{
	status = "okay";
};
&i2c4{
	status = "okay";
};
