/ {
	compatible = "silabs,efr32bg22c224f512im40", "silabs,efr32bg_brd4184b", "silabs,efr32bg22";
	chosen {
		zephyr,console = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&gpioa{
	status = "okay";
};
&gpiof{
	status = "disabled";
};
&i2c1{
	status = "disabled";
};
&adc0{
	status = "okay";
};
&usart0{
	status = "okay";
	pinctrl-0 = < &usart0_default >;
	pinctrl-names = "default";
	cs-gpios = < &gpioc 0x3 0x1 >;
};
&gpiob{
	status = "okay";
};
&gpiod{
	status = "disabled";
};
&gpioc{
	status = "okay";
};
&i2c0{
	status = "okay";
	location-sda = < 0x3 0x3 0x2 >;
	location-scl = < 0x3 0x3 0x3 >;
};
&usart1{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &usart1_default >;
	pinctrl-names = "default";
};
&burtc0{
	status = "okay";
};
&pinctrl{
	compatible = "silabs,gecko-pinctrl";
	usart0_default: usart0_default {
		group1 {
			psels = < 0x8000202 >, < 0x6000200 >, < 0x5000201 >;
		};
	};
	usart1_default: usart1_default {
		group1 {
			psels = < 0x5 >, < 0x1000006 >, < 0x4000001 >;
		};
	};
};