/ {
	compatible = "nxp,rd_rw612_bga";
	chosen {
		zephyr,console = &flexcomm3;
		zephyr,sram = &sram_data;
	};
};
&dac0{
	status = "okay";
};
&flexcomm3{
	compatible = "nxp,lpc-usart";
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &pinmux_flexcomm3_usart >;
	pinctrl-names = "default";
};
&flexspi{
	status = "okay";
};
&hsgpio0{
	status = "okay";
};
&usb_otg{
	status = "okay";
};
