/ {
	compatible = "m5stack,atoms3";
	chosen {
		zephyr,console = &usb_serial;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&gpio1{
	status = "okay";
};
&i2c0{
	status = "okay";
	clock-frequency = < 0x186a0 >;
	pinctrl-0 = < &i2c0_default >;
	pinctrl-names = "default";
};
&flash0{
	status = "okay";
};
&gpio0{
	status = "okay";
};
&usb_serial{
	status = "okay";
};
&i2c1{
	status = "okay";
	clock-frequency = < 0x186a0 >;
	pinctrl-0 = < &i2c1_default >;
	pinctrl-names = "default";
};
&spi2{
	status = "okay";
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &spim2_default >;
	pinctrl-names = "default";
};
&uart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart0_default >;
	pinctrl-names = "default";
};
&pinctrl{
	compatible = "espressif,esp32-pinctrl";
	status = "okay";
	uart0_default: uart0_default {
		group1 {
			pinmux = < 0x67feb >;
			output-high;
		};
		group2 {
			pinmux = < 0xff832c >;
			bias-pull-up;
		};
	};
	i2c0_default: i2c0_default {
		group1 {
			pinmux = < 0x2d16a6 >, < 0x2c9667 >;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
	i2c1_default: i2c1_default {
		group1 {
			pinmux = < 0x2e1702 >, < 0x2d96c1 >;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
	spim2_default: spim2_default {
		group1 {
			pinmux = < 0x32ffd1 >, < 0x377fcf >;
		};
		group2 {
			pinmux = < 0x33ffd5 >;
			output-low;
		};
	};
};