/ {
	compatible = "nxp,lpc", "nxp,lpc55xxx";
	chosen {
		zephyr,console = &flexcomm0;
		zephyr,flash = &flash0;
		zephyr,sram = &sram0;
	};
};
&can0{
	status = "okay";
	bus-speed = < 0x1e848 >;
	bus-speed-data = < 0xf4240 >;
	pinctrl-0 = < &pinmux_can0 >;
	pinctrl-names = "default";
};
&flexcomm0{
	compatible = "nxp,lpc-usart";
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &pinmux_flexcomm0_usart >;
	pinctrl-names = "default";
};
