/ {
	compatible = "nxp,mcx", "nxp,mcxn947";
	chosen {
		zephyr,console = &flexcomm4_lpuart4;
		zephyr,flash = &flash;
		zephyr,sram = &sram0;
	};
};
&flexcomm4_lpuart4{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &pinmux_flexcomm4_lpuart >;
	pinctrl-names = "default";
};
&gpio0{
	status = "okay";
};
&gpio1{
	status = "okay";
};
&gpio4{
	status = "okay";
};
&sram0{
	reg = < 0x20000000 0x50000 >;
};
