/ {
	compatible = "nxp,mk66f18", "nxp,k66f", "nxp,k6x";
	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&enet{
	status = "okay";
	pinctrl-0 = < &enet_default >;
	pinctrl-names = "default";
};
&spi1{
	status = "okay";
	pinctrl-0 = < &spi1_default >;
	pinctrl-names = "default";
	clock-frequency = < 0x29f6300 >;
	cs-gpios = < &gpioe 0x4 0x1 >;
};
&gpioe{
	status = "okay";
};
&gpiob{
	status = "okay";
};
&gpioa{
	status = "okay";
};
