/ {
	compatible = "seeed,carbon_nrf51";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&uart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart0_default >;
	pinctrl-1 = < &uart0_sleep >;
	pinctrl-names = "default", "sleep";
};
&gpio0{
	status = "okay";
};
&i2c0{
	status = "okay";
	pinctrl-0 = < &i2c0_default >;
	pinctrl-1 = < &i2c0_sleep >;
	pinctrl-names = "default", "sleep";
};
&spi1{
	compatible = "nordic,nrf-spis";
	status = "okay";
	def-char = < 0x0 >;
	pinctrl-0 = < &spi1_default >;
	pinctrl-names = "default";
};
&i2c1{
	pinctrl-0 = < &i2c1_default >;
	pinctrl-1 = < &i2c1_sleep >;
	pinctrl-names = "default", "sleep";
};
&adc{
	status = "okay";
};
&spi0{
	pinctrl-0 = < &spi0_default >;
	pinctrl-1 = < &spi0_sleep >;
	pinctrl-names = "default", "sleep";
};
&pinctrl{
	compatible = "nordic,nrf-pinctrl";
	i2c0_default: i2c0_default {
		group1 {
			psels = < 0xc001c >, < 0xb0002 >;
		};
	};
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = < 0xc001c >, < 0xb0002 >;
			low-power-enable;
		};
	};
	uart0_default: uart0_default {
		group1 {
			psels = < 0x1d >, < 0x1000b >;
		};
	};
	uart0_sleep: uart0_sleep {
		group1 {
			psels = < 0x1d >, < 0x1000b >;
			low-power-enable;
		};
	};
	spi1_default: spi1_default {
		group1 {
			psels = < 0x70007 >, < 0x80000 >, < 0x9001e >, < 0xa0019 >;
		};
	};
};