/ {
	compatible = "espressif,esp32";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&pinctrl{
	status = "okay";
};
&mdio{
	status = "disabled";
};
&spi3{
	status = "okay";
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &spim3_default >;
	pinctrl-names = "default";
	cs-gpios = < &gpio0 0x12 0x1 >;
};
&spi2{
	status = "disabled";
};
&i2c1{
	status = "disabled";
};
&eth{
	status = "disabled";
};
&i2c0{
	status = "okay";
	clock-frequency = < 0x61a80 >;
	sda-gpios = < &gpio0 0x4 0x6 >;
	scl-gpios = < &gpio0 0xf 0x6 >;
	pinctrl-0 = < &i2c0_default >;
	pinctrl-names = "default";
};
&flash0{
	reg = < 0x0 0x800000 >;
	status = "okay";
};
&twai{
	status = "disabled";
};
&adc1{
	status = "disabled";
};
&uart2{
	status = "disabled";
};
&gpio0{
	status = "okay";
};
&uart0{
	status = "okay";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart0_default >;
	pinctrl-names = "default";
};
&dac{
	status = "disabled";
};
&adc0{
	status = "disabled";
};
&uart1{
	status = "disabled";
};
&gpio1{
	status = "okay";
};
&pinctrl{
	compatible = "espressif,esp32-pinctrl";
	status = "okay";
	uart0_default: uart0_default {
		group1 {
			pinmux = < 0x77fc1 >;
			output-high;
		};
		group2 {
			pinmux = < 0xff8383 >;
			bias-pull-up;
		};
	};
	spim3_default: spim3_default {
		group1 {
			pinmux = < 0xff9013 >, < 0x1fffc5 >;
		};
		group2 {
			pinmux = < 0x20ffdb >;
			output-low;
		};
	};
	i2c0_default: i2c0_default {
		group1 {
			pinmux = < 0xf0784 >, < 0xe874f >;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};