/ {
	compatible = "intel,raptor-lake-crb";
	chosen {
		zephyr,console = &uart_ec_0;
		zephyr,sram = &dram0;
	};
};
&gpio_1_h{
	status = "okay";
};
&uart0{
	status = "okay";
};
&i2c0{
	status = "okay";
};
&gpio_4_e{
	status = "okay";
};
&spi1{
	status = "disabled";
};
&uart_ec_0{
	status = "okay";
};
&i2c3{
	status = "disabled";
};
&uart2{
	status = "disabled";
};
&gpio_4_k{
	status = "okay";
};
&spi0{
	status = "okay";
};
&uart4{
	status = "disabled";
};
&i2c5{
	status = "disabled";
};
&i2c6{
	status = "disabled";
};
&gpio_0_i{
	status = "okay";
};
&uart6{
	status = "disabled";
};
&gpio_5_d{
	status = "okay";
};
&gpio_4_f{
	status = "okay";
};
&gpio_3_c{
	status = "okay";
};
&spi2{
	status = "disabled";
};
&i2c7{
	status = "disabled";
};
&uart1{
	status = "okay";
};
&gpio_3_a{
	status = "okay";
};
&gpio_1_g{
	status = "okay";
};
&i2c2{
	status = "disabled";
};
&uart3{
	status = "disabled";
};
&gpio_0_j{
	status = "okay";
};
&gpio_4_s{
	status = "okay";
};
&uart5{
	status = "disabled";
};
&i2c1{
	status = "disabled";
};
&gpio_1_b{
	status = "okay";
};
&gpio_0_r{
	status = "okay";
};
&i2c4{
	status = "disabled";
};
&pwm0{
	status = "okay";
};
