/ {
	compatible = "gaisler,gr716a-mini";
	chosen {
		zephyr,console = &uart0;
		zephyr,sram = &dram;
	};
};
&uart1{
	status = "disabled";
};
&uart4{
	status = "disabled";
};
&uart0{
	status = "okay";
};
&uart2{
	status = "disabled";
};
&uart3{
	status = "disabled";
};
&uart5{
	status = "disabled";
};
