/ {
	compatible = "infineon,xm4500-relax-kit", "infineon,xmc4500", "infineon,xmc4xxx";
	chosen {
		zephyr,console = &usic1ch1;
		zephyr,sram = &dsram1;
		zephyr,flash = &flash0;
	};
};
&adc1{
	vref-internal-mv = < 0xce4 >;
};
&adc3{
	vref-internal-mv = < 0xce4 >;
};
&gpio1{
	status = "okay";
};
&adc2{
	vref-internal-mv = < 0xce4 >;
};
&usic1ch1{
	status = "okay";
	compatible = "infineon,xmc4xxx-uart";
	current-speed = < 0x1c200 >;
	pinctrl-0 = < &uart_tx_p0_1_u1c1 &uart_rx_p0_0_u1c1 >;
	pinctrl-names = "default";
	input-src = "DX0D";
	interrupts = < 0x5a 0x1 0x5b 0x1 >;
	interrupt-names = "tx", "rx";
	fifo-start-offset = < 0x0 >;
	fifo-tx-size = < 0x10 >;
	fifo-rx-size = < 0x10 >;
};
&adc0{
	vref-internal-mv = < 0xce4 >;
};
