/ {
	compatible = "seeed,seeeduino-xiao";
	chosen {
		zephyr,console = &sercom4;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};
};
&sercom0{
	status = "okay";
	dipo = < 0x1 >;
	dopo = < 0x1 >;
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &sercom0_spi_default >;
	pinctrl-names = "default";
};
&dac0{
	status = "okay";
	pinctrl-0 = < &dac_default >;
	pinctrl-names = "default";
};
&usb0{
	status = "okay";
	pinctrl-0 = < &usb_dc_default >;
	pinctrl-names = "default";
};
&sercom5{
	status = "disabled";
};
&sercom1{
	status = "disabled";
};
&sercom4{
	status = "okay";
	current-speed = < 0x1c200 >;
	rxpo = < 0x1 >;
	txpo = < 0x0 >;
	pinctrl-0 = < &sercom4_uart_default >;
	pinctrl-names = "default";
};
&sercom3{
	status = "disabled";
};
&sercom2{
	status = "okay";
	clock-frequency = < 0x61a80 >;
	#address-cells = < 0x1 >;
	#size-cells = < 0x0 >;
	pinctrl-0 = < &sercom2_i2c_default >;
	pinctrl-names = "default";
};
&tcc2{
	status = "okay";
	prescaler = < 0x400 >;
	#pwm-cells = < 0x2 >;
	pinctrl-0 = < &pwm_default >;
	pinctrl-names = "default";
};
